# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# venv
.venv/
venv/
env/

# data / downloads
data/
*.zip
*.tar
*.gz
*.7z

# results / media
results/
*.png
*.jpg
*.jpeg
*.gif
*.mp4

# OS
.DS_Store
Thumbs.db
